@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  background-image: url("~@/assets/buildings-g34340c674_1920.jpeg");
  background-size: cover;
  background-position: center;
}

body {
  margin: auto;
  height: 100%;
}

a {
  font-weight: bold;
  color: #4e5166;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a.router-link-exact-active {
  color: #4e5166;
}

.card {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.card_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card_subtitle a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3px;
  text-decoration: underline;
}

i {
  margin-left: 5px;
}

i:hover {
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  nav .btn-grad, nav .btn-grad--disabled {
    width: 45%;
  }
  .card {
    width: 50%;
  }
}

.btn-grad, .btn-grad--disabled {
  background-image: -webkit-gradient(linear, left top, right top, from(#fd2d01), color-stop(51%, #4e5166), to(#fd2d01));
  background-image: linear-gradient(to right, #fd2d01 0%, #4e5166 51%, #fd2d01 100%);
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: #d8dfe3;
  -webkit-box-shadow: 0 0 20px #4e5166;
          box-shadow: 0 0 20px #4e5166;
  width: inherit;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-grad:hover, .btn-grad--disabled:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.btn-grad--disabled {
  opacity: 0.6;
  pointer-events: none;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border: #ffd7d7;
  -webkit-box-shadow: 0 0 20px #4e5166;
          box-shadow: 0 0 20px #4e5166;
  background-color: #4e5166;
  color: #ffd7d7;
  padding: 2%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.form__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__row .fa {
  font-size: 24;
}

.form__input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__input input {
  width: 100%;
  border-style: solid;
  background-color: #4e5166;
  -webkit-box-shadow: 0 0px 5px #ffd7d7;
          box-shadow: 0 0px 5px #ffd7d7;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  color: #ffd7d7;
}

.form__input ::-webkit-input-placeholder {
  color: #ffd7d7;
}

.form__input :-ms-input-placeholder {
  color: #ffd7d7;
}

.form__input ::-ms-input-placeholder {
  color: #ffd7d7;
}

.form__input ::placeholder {
  color: #ffd7d7;
}

.form__error {
  color: #ffd7d7;
  font-style: italic;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border: #ffd7d7;
  -webkit-box-shadow: 0 0 20px #4e5166;
          box-shadow: 0 0 20px #4e5166;
  background-color: #d8dfe3;
  color: #4e5166;
  padding: 2%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.post_userDate {
  width: 100%;
  text-align: left;
}

.post_title {
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 2%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post_message {
  overflow: hidden;
  text-overflow: ellipsis;
}

.post_img {
  max-width: 100%;
  width: 600px;
  max-height: 300px;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.post_img_little {
  max-width: 100%;
  width: 300px;
  max-height: 150px;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.post_like {
  color: #fd2d01;
}

.whatsNew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  border: #ffd7d7;
  -webkit-box-shadow: 0 0 20px #4e5166;
          box-shadow: 0 0 20px #4e5166;
  background-color: #4e5166;
  color: #ffd7d7;
  padding: 2%;
}

.whatsNew:hover {
  cursor: pointer;
}

.dialogue p {
  font-size: 12px;
  margin: 1%;
}

.dialogue_btn {
  font-weight: bold;
  cursor: pointer;
}

.dialogue_btn:hover {
  color: #fd2d01;
}

#app {
  width: 100%;
  height: 100%;
  font-family: Lato, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  background-position: center;
}

header {
  width: 100%;
  background-color: #d8dfe3;
  border-bottom: 2px solid #fd2d01;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo-header {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

header .logo-header img {
  width: 100%;
}

header .icons-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .icons-header__one {
  padding: 10px;
}

nav {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  border-bottom: 2px solid #fd2d01;
}

nav .links-header__one {
  padding: 3px;
  border: none;
  color: #d8dfe3;
  background-image: -webkit-gradient(linear, left top, right top, from(#fd2d01), color-stop(51%, #4e5166), to(#fd2d01));
  background-image: linear-gradient(to right, #fd2d01 0%, #4e5166 51%, #fd2d01 100%);
}

@media screen and (min-width: 992px) {
  header .logo-header {
    padding: 20px;
  }
  header .logo-header i {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .icons-header__one__bars {
    display: none;
  }
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .links-header__one {
    padding: 10px;
    border: none;
    width: 30%;
    color: #d8dfe3;
    background-image: -webkit-gradient(linear, left top, right top, from(#fd2d01), color-stop(51%, #4e5166), to(#fd2d01));
    background-image: linear-gradient(to right, #fd2d01 0%, #4e5166 51%, #fd2d01 100%);
  }
}
/*# sourceMappingURL=main.css.map */