@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: auto;
  height: 100vh;
}

a {
  font-weight: bold;
  color: #4e5166;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a.router-link-exact-active {
  color: #4e5166;
}

nav {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .btn-grad, nav .btn-grad--disabled {
  width: inherit;
}

.card {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card_subtitle a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3px;
  text-decoration: underline;
}

.btn-grad-light {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffd7d7), color-stop(51%, white), to(#ffd6d7));
  background-image: linear-gradient(to right, #ffd7d7 0%, white 51%, #ffd6d7 100%);
  margin: 10px;
  padding: 5px 45px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  -webkit-box-shadow: 0 0 20px #4e5166;
          box-shadow: 0 0 20px #4e5166;
  border-radius: 10px;
  display: block;
  border: none;
}

.btn-grad-light:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn-grad, .btn-grad--disabled {
  background-image: -webkit-gradient(linear, left top, right top, from(#fd2d01), color-stop(51%, #4e5166), to(#fd2d01));
  background-image: linear-gradient(to right, #fd2d01 0%, #4e5166 51%, #fd2d01 100%);
  margin-top: 10px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  -webkit-box-shadow: 0 0 20px #4e5166;
          box-shadow: 0 0 20px #4e5166;
  width: inherit;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-grad:hover, .btn-grad--disabled:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.btn-grad--disabled {
  opacity: 0.6;
  pointer-events: none;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-radius: 10px;
  border: #ffd7d7;
  -webkit-box-shadow: 0 0 20px #4e5166;
          box-shadow: 0 0 20px #4e5166;
  background-color: #4e5166;
  color: #ffd7d7;
  padding: 2%;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.form__input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__input input {
  width: 100%;
  border: #4e5166 1px;
  border-style: solid;
}

.form__error {
  color: #ffd7d7;
  font-style: italic;
}

#app {
  width: 100%;
  height: 100%;
  font-family: Lato, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fef6e5;
}

header {
  width: 100%;
  background-color: #fef6e5;
}

header .logo-header {
  overflow: hidden;
}

header .logo-header img {
  width: 100%;
  margin-top: -27%;
  margin-bottom: -27%;
}
/*# sourceMappingURL=main.css.map */