header {
    width: 100%;
    background-color: #fef6e5;
    .logo-header {
      overflow: hidden;
      // text-align: left;
      //   height: 200px;
      img {
          //   overflow: hidden;
          width: 100%;
          //   height: 50%;
          margin-top: -27%;
          margin-bottom: -27%;
        }
    }
  }
  
  