.btn-grad {
  background-image: linear-gradient(to right, #fd2d01 0%, #4e5166 51%, #fd2d01 100%);
  margin-top: 10px;

  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #d8dfe3;
  box-shadow: 0 0 20px #4e5166;

  width: inherit;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  &--disabled {
    @extend .btn-grad;
    opacity: 0.6;
    pointer-events: none;
  }
}
