$primary-color: #fd2d01;
$secondary-color: #ffd7d7;
$tertiary-color: #4e5166;

$list-color1: $primary-color 0%, $tertiary-color 51%, $primary-color 100%;

@mixin gradient($direction, $list) {
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);
}